{% extends 'layouts/base.html' %} 
{% block title %} UI Notifications {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Notifications</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button
            type="button"
            aria-hidden="true"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message"
            >GO (Rt) No.2854 / 2020 / GAD - 17.09.2020 Revised Order of
            Procedure for Guest Workers Arriving in Kerala for Registration and
            Quarantine on COVID-19 Jagratha Portal
          </span>
        </div>
        <div class="alert alert-info alert-with-icon" data-notify="container">
          <button
            type="button"
            aria-hidden="true"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
          <span data-notify="message"
            >GO (Rt) No.2793 / 2020 / GAD - 14.09.2020 Order issued regarding
            registration of guest workers on COVID-19 Jagratha Portal
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card alert">
      <button
            type="button"
            aria-hidden="true"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <i class="tim-icons icon-simple-remove"></i>
          </button>
      <div class="card-header">
        <h4 class="card-title">Notification states</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-primary">
          <span
            ><b> Alert </b></span
          >
        </div>
        <div class="alert alert-info">
          <span
            ><b> Info </b> </span
          >
        </div>
        <div class="alert alert-warning">
          <span
            ><b> Warning </b></span
          >
        </div>
        <div class="alert alert-danger">
          <span
            ><b> Danger </b></span
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
